@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya', serif;
}

@layer base {
  :root {
    --background: 225 43% 97%;
    --foreground: 229 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 229 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 229 25% 25%;
    --primary: 229 41% 50%;
    --primary-foreground: 225 43% 97%;
    --secondary: 225 20% 90%;
    --secondary-foreground: 229 25% 25%;
    --muted: 225 20% 90%;
    --muted-foreground: 229 25% 45%;
    --accent: 269 38% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 20% 88%;
    --input: 225 20% 88%;
    --ring: 229 41% 50%;
    --chart-1: 229 41% 50%;
    --chart-2: 269 38% 44%;
    --chart-3: 229 31% 60%;
    --chart-4: 269 28% 54%;
    --chart-5: 229 21% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 229 15% 15%;
    --foreground: 225 20% 88%;
    --card: 229 15% 18%;
    --card-foreground: 225 20% 88%;
    --popover: 229 15% 18%;
    --popover-foreground: 225 20% 88%;
    --primary: 229 41% 60%;
    --primary-foreground: 229 15% 15%;
    --secondary: 229 15% 25%;
    --secondary-foreground: 225 20% 88%;
    --muted: 229 15% 25%;
    --muted-foreground: 225 20% 65%;
    --accent: 269 38% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 229 15% 25%;
    --input: 229 15% 25%;
    --ring: 229 41% 60%;
    --chart-1: 229 41% 60%;
    --chart-2: 269 38% 54%;
    --chart-3: 229 31% 70%;
    --chart-4: 269 28% 64%;
    --chart-5: 229 21% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
